In [4]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise.model_selection import cross_validate

import pandas as pd

In [5]:
movies = pd.read_csv('E:\\Python\\RSML-2\\RSML_HW1\\movies.csv')
ratings = pd.read_csv('E:\\Python\\RSML-2\\RSML_HW1\\ratings.csv')

In [7]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [10]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [12]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [13]:
algo = SVD()

In [14]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8742  0.8782  0.8749  0.8684  0.8777  0.8746  0.0035
MAE (testset)     0.6756  0.6746  0.6704  0.6669  0.6752  0.6725  0.0034
Fit time          4.69    4.66    4.83    4.54    4.68    4.68    0.09
Test time         0.27    0.17    0.17    0.16    0.18    0.19    0.04

{'test_rmse': array([0.87415981, 0.87816176, 0.87485492, 0.8683526 , 0.87765367]),
 'test_mae': array([0.67561357, 0.67461615, 0.67038528, 0.66690382, 0.67517852]),
 'fit_time': (4.691961050033569,
  4.663890838623047,
  4.826892614364624,
  4.536500930786133,
  4.675425291061401),
 'test_time': (0.2707853317260742,
  0.16552472114562988,
  0.16951203346252441,
  0.15621304512023926,
  0.18051767349243164)}

In [15]:
algo2 = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})

In [16]:
cross_validate(algo2, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8995  0.8969  0.8982  0.8849  0.9030  0.8965  0.0061
MAE (testset)     0.6827  0.6792  0.6821  0.6715  0.6849  0.6801  0.0046
Fit time          0.88    0.85    0.85    0.85    0.85    0.85    0.01
Test time         1.33    1.23    1.20    1.34    1.37    1.29    0.07

{'test_rmse': array([0.89947914, 0.89694498, 0.89823653, 0.88494011, 0.90302036]),
 'test_mae': array([0.68267089, 0.67922236, 0.68207393, 0.67150598, 0.68487253]),
 'fit_time': (0.878892183303833,
  0.8464608192443848,
  0.850482702255249,
  0.8450949192047119,
  0.8475513458251953),
 'test_time': (1.3264243602752686,
  1.2267205715179443,
  1.204777717590332,
  1.3417437076568604,
  1.3738043308258057)}